@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  height: 100vh;
  background: url("./components/images/ali.jpg") no-repeat center / cover;
}

.body .overlay {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}
